<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <div class="heading">AKOA DEMO</div>
        @RenderBody()
        
    </div>
    <script>

    </script>
</body>
</html>
